/* SMOOTHER SCROLL */
html {
  scroll-behavior: smooth;
}

/* COLOR */
.bgp,
.bgh,
.tc {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.bgp {
  background-color: #0a6d36;
}

.bgh {
  background-color: #666;
}

.tc {
  background-color: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #191c19;
  background-color: #ffffff;
  min-width: 375px;
}

/* HEADINGS */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

/* PARAGRAPH */

a {
  line-height: 1.44rem;
  word-wrap: break-word;
}

/* List */
ol {
  line-height: 1.5rem;
}

li::marker {
  color: #0a6d36;
  font-style: italic;
}

li {
  margin-bottom: 0.5rem;
}

/* Header */
header {
  padding: 0rem;
}

header h1 {
  margin: auto 0;
  padding: 0;
}

/* Main */
main {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

/* Code */
code {
  font-family: transat-text, sans-serif;
  background-color: #ffffff;
  color: #414941;
  padding: 0.5rem;
  display: block;
}

/* Element Block */
.element {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/* Footer */
footer {
  text-align: center;
  border-top-width: 0.1rem;
  border-top-color: #717970;
  margin: 0 auto;
  width: 90%;
  height: 10vh;
}

footer p {
  max-width: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

/*
End of Root -------------------
*/

footer {
  padding: 20px;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 14px;
  color: #1a1a1a;
}

/*
Links -------------------
*/
/* IN-TEXT LINK */
.link-intext {
  text-decoration: none;
  color: #0a6d36;
}

.link-intext:active,
.link-intext:focus,
.link-intext:hover {
  text-decoration: underline;
}

.link-intext:after {
  text-decoration: underline;
  color: #414941;
}

/* NAVIGATION LINK */
.link-nav {
  text-decoration: none;
  display: inline-block;
  font-size: 1.17rem;
  color: #191c19;
  padding: 0.75rem 1rem;
  border-radius: 0rem;
  transition: 0.2s;
}

.link-nav:active,
.link-nav:hover,
.link-nav:focus {
  border-bottom-style: solid;
  border-bottom-color: #0a6d36;
  border-bottom-width: 0.2rem;
}

.active-nav {
  border-bottom-style: solid;
  border-bottom-color: #0a6d36;
  border-bottom-width: 0.2rem;
}

/*
End of Links -------------------
*/



/*
COMBINED ELEMENTS -------------------
*/
/* MAIN NAVIGATION */
/* 
 */
.nav-bar {
  z-index: 1;
  position: sticky;
  top: 0rem;
  background-color: white;
}

.main-nav {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0.75rem;
}

/* Dropdown effect */
.sub-nav {
  align-content: center;
  display: none;
  position: center;
  z-index: 1;
  background-color: white;
  padding: 0.75rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.sub-nav.active {
  display: block;
}

.sub-nav a {
  display: block;
  padding: 0.5rem;
  color: black;
  text-align: center;
}

.sub-nav a:hover {
  background-color: #f4f4f4;
}

/* Style Guide Page */
#citation,
#interactive_elements,
#text_elements,
#combined_elements,
#branding {
  margin-top: 5rem;
}

main#style-guide {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1080px) {
  main#style-guide {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  #interactive_elements,
  #text_elements,
  #combined_elements,
  #branding {
    margin-top: 3rem;
  }

  select {
    font-size: 14px;
    padding: 6px;
  }
}


/* Style the select elements */
select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section {
  padding: 7rem 0;
}

.container {
  background-color: var(--color-primary);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* Start of Products Page */
.main-title {
  text-align: center;
}

.main-title h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}


.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: 3rem;
}

.product {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  padding-top: 0rem;
  transition: all 0.4s ease-in-out;
}

.products .product:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

.product img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.products .product .product-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 600px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 1250px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }
}

@media screen and (max-width: 660px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* End of Product Page */

/* Start of Process Analysis page */

.img-fluid {
  max-width: 100%;
  height: auto;
}

.process {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: 3rem;
}

.process .left-process {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}

.process .right-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.process .product1 {
  position: relative;
  background-color: var(--color-grey-5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  padding: 4rem;
  padding-top: 0rem;
  transition: all 0.4s ease-in-out;
}

.process-description {

  display: flex;
  flex-direction: column;

  align-items: center;
}

.process-description p {
  font-size: 16px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}


.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #0a6d36;
}

.readmore {
  display: inline-block;
  border: 1px solid #0a6d36;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #0a6d36;
  transition: 0.2s all ease;
  font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
  outline: none;
}

.readmore:hover {
  color: #fff;
  text-decoration: none;
  background: #0a6d36;
}

@media screen and (max-width: 767px) {
  .process {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .process .left-process {
    order: 2;
    margin-top: 2rem;
  }

  .process .right-process {
    order: 1;
    padding-right: 0;
    margin-bottom: 2rem;
  }

  .product1 {
    padding: 2rem;
  }

  .list-line li:before {
    top: 0.5rem;
    width: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .process {
    grid-template-columns: repeat(1, 1fr);
  }
}

.process-container {
  padding: 64px;
}

/* Clear floats */
.process-row:after {
  content: "";
  display: table;
  clear: both
}

.process-row p {
  font-size: 18px;
}

/* 2/3 column */
.process-column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/3 column */
.process-column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;

}

.process-container img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 1rem;
}

.large-font {
  font-size: 48px;
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.text-container p {
  display: inline-block;
  max-width: calc(100% - 1em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  .text-container p {
    max-width: 25em;
    white-space: normal;
  }
}

.process-column {
  float: left;
  width: 33.33%;
  padding: 45px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.process-column:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.process-containerTab {
  margin-top: 1rem;
  padding: 20px;
  color: white;
  border-radius: 2rem;
  color: rgb(0, 0, 0);
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}


/* Closable button inside the container tab */
.process-closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .process-column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {

  .process-column-66,
  .process-column-33 {
    width: 100%;
    text-align: center;
  }

  .process-row h1 {
    font-size: 34px;
  }
}

.animate {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}


@keyframes pop-up {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* End of Process Analysis page */

/* Start of Home Page */


.home-content .body {
  font-family: "Poppins";
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*Split the screen into 2 column*/
  min-height: 100vh;
}

.home-content .left-home {
  display: flex;
  align-items: center;
  position: relative;
}

.home-content .left-home .image {
  border-radius: var(--br-sm-2);
  size: 90%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}

.home-content .left-home .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.home-content .left-home .image img:hover {
  filter: grayscale(0);
}

.home-content .right-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}

.home-content .right-home .name {
  text-align: left;
  font-size: 3rem;
}

.home-content .right-home p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.middle-text {
  padding: 2rem 0;
  text-align: center;
}

/* WORDS SWAP */
[data-words] {
  vertical-align: top;
  position: static;
}

[data-words]>span {
  position: absolute;
  color: chocolate;
}

.animated-text span {
  line-height: 1;
}

.animated-text span.active {
  display: inline;
}

.animated-text:after {
  content: ":";
  display: inline;
  width: 6px;
  text-indent: 0;
  background: var(--col-icon);
  animation: blink 0.3s infinite alternate;
}

.datawords {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .home {
    padding: 0 !important;
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .home-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .right-home {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;

    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }

  .home-content .left-home .image {
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width:1250px) {

  .home-content .right-home {
    padding-right: 9rem;
  }

}

@media screen and (max-width:970px) {
  .home-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-home {
    .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  }

  .right-home {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;

    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
  }
}

/* End of Home page */

/* Start of About page */
/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}

.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}

.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }

  .about-container .left-about {
    padding-right: 0;
  }

  .about-container .left-about p {
    padding-left: 0;
  }

  .container {
    padding: 2rem 2.5rem !important;
  }
}

@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    padding-top: 2.5rem;
  }

  .main-title h2 {
    font-size: 4rem;
  }

  .main-title h2 span {
    font-size: 4rem;
  }

  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }

  .about-container .left-about {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }

  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }

  .main-title h2 {
    font-size: 3rem;
  }

  .main-title h2 span {
    font-size: 3rem;
  }

  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}